* {
    padding:0; 
    margin:0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
/*body{
    background-color: #2e2e2e;
    color: #ffffff;
}*/
#header {
    display: flex;
    width: 100%;
    height: 70px;
    justify-content: space-around;
    background-color: #d4ff8f;
    align-items: center;
}
img {
    height: 60px;
}
#image-car {
    display: flex;
    width: 100%;
    height: 400px;
    align-items: center;
    justify-content: center;
}
#image-slider {
    width: 100%;
    height: 100%;
    border-radius: 30px;
}
#image-slider:hover {
    border-radius: 20px;
    transition: 250ms;
}
nav, ul {
    display: flex;
    justify-content: center;
}
li, a {
    margin-left: 20px;
    list-style: none;
    text-decoration: none;
    color: #464c4b;
}
a:hover {
    text-decoration:underline;
    cursor: pointer;
}

#cards {
    display: flex;
    justify-content: space-around;
    background-color: #d4ff8f;
    width: 100%;
    height: 60%;
    gap: 20px;
    padding: 20px;
    flex-wrap: wrap;
    color: #464c4b;
}
.card {
    display: flex;
    flex-direction: column;
    width: 45%;
    height: auto;
    background-color: #f0f2f1;
    box-sizing: border-box;
    padding: 10px;
    
}
.card button {
    background-color: #ffffff;
    font-weight: bold;
    box-sizing: border-box;
    font-size: 16px;
}

.card button:hover {
    background-color: #d4ff8f;
    cursor: pointer;
    font-size: 18px;
    transition: 250ms;
}
.card img {
    width: 100%;
    height: 500px;
}
h3 {
    text-align: center;
    font-size: 24px;
    margin: 15px;
}

#contato form {
    width: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 20px;
}
footer{
    text-align: center;
    padding: 20px;
}

#perguntas {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    padding-top: 20px;
}

.perguntas {
    background-color: #d4ff8f;
    padding: 20px;
}
.respostas p {
    background-color: #d0d8d4;
    padding: 20px;
}

#correta:active {
    background-color: green;
}
#botoes {
    display: flex;
}
#botao1 {
    visibility: visible;
    display: flex;
    font-size: 16px;
    background-color: #d4ff8f;
    padding: 20px;
}

#check {
    width: 20px;
    height: 20px;
}

#logo img {
    width: 100%;
    height: 60px;
}

h1 {
    text-align: center;
}

#quiz {
    display: flex;
    flex-direction: column;
    background-color: #d0d8d4;
    height: 200px;
}
/*#quiz h3 {

}*/
.acertos {
    color: green;
}

.verde {
    color: green;
}
.amarelo {
    color: yellow;
}
.vermelho {
    color: red;
}

#login p{
    margin-bottom: 20px;
    font-weight: bold;
    font-size: 24px;
}

#login{
    width: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    padding: 25px;
    margin-bottom: 15px;
}
